@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

:root{
    --cinza-claro: #ececec;
    --cinza: #9A9A9D;
    --verde: #4ECB18;
    --verde-escouro: #3f9c17;
    --verde-claro: #90fa63fd;

    --tamanho-input: 50px;
    --largura-login: 35px;

    --fonte: "M PLUS 1", 'Seoge UI', sans-serif;

    --borda: 30px;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media all {
    body{
        width: 100vw;
        height: 100vh;
        font-family: var(--fonte);
    }

    body::-webkit-scrollbar{
        display: none;
    }

    h1{
        display: none;
    }

    main {
        background-color: var(--cinza-claro);
        height: 100vh;
        width: 100vw;
        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }

    .cima{
        position: relative;
        width: 100vw;
        height: 90vw;
        background-color: white;
        border-radius: 0px 0px 30px 30px;
    }

    .cima>img{
        width: 170px;
        height: 170px;
        position: absolute;
        border-radius: 50%;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cima div#baixo{
        display: none;
    }

    .cima button{
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--verde);
        font-size: 1.1em;
        font-family: var(--fonte);
        width: 80px;
        height: 2em;
        transition: .3s;
        padding: 5px;
        cursor: pointer;
        font-weight: bold;
    }

    .cima button#login-button{
        position: absolute;
        bottom: 0;
        left: var(--largura-login);
    }

    .cima button#singup-button{
        border-bottom: 2px solid transparent;
        position: absolute;
        
        text-align: center;
        bottom: 0;
        right: var(--largura-login);
    }

    .cima button#singup-button:hover{
        border-bottom: 2px solid var(--verde);
    }

    .cima button#login-button:hover{
        border-bottom: 2px solid var(--verde);
    }

    .log{
        height: calc(100% - 90vw);
        font-size: .9em;
        text-align: center;
        font-family: var(--fonte);
        width: 100vw;
    }

    #login{
        display: block;
    }

    #signup{
        display: none;
        position: absolute;
        top: 46.5%;
    }

    .log form{
        width: 100vw;
        height: 100%;
        padding: 20px;
        display: flex;
    }

    #login form{
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .log label{
        position: absolute;
        display: none;
    }

    .log input{
        margin: 10px;
        width: 100%;
        height: var(--tamanho-input);
        font-size: 1.2em;
        font-family: var(--fonte);

        border: none;
        border-bottom: 1px solid var(--cinza);
        position: relative;
        transform: translate(-10px);
        outline: 0;

        background-color: transparent;
    }

    .log input::placeholder{
        font-size: .8em;
    }

    .log input:focus{
        border-bottom: 2px solid var(--cinza);
    }

    .log a{
        text-decoration: none;
        color: var(--verde);
        transition: .5s;
    }

    .log a:hover{
        color: var(--verde-escouro);
        text-decoration: underline;
    }

    .log button{
        width: 90%;
        height: 50px;
        border-radius: 20px;
        background-color: var(--verde);
        border: none;
        color: white;
        transition: .4s;
        font-weight: bold;
        font-family: var(--fonte);

        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .log button:hover{
        background-color: var(--verde-escouro);
        cursor: pointer;
    }
}

@media screen and (460px <= width) {
    body{
        font-family: var(--fonte);
    }/*calcio*/

    main{
        width: 80vw;
        max-width: 800px;
        height: 60vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: var(--borda);
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.219);
    }

    .cima {
        width: 50%;
        height: 100%;
        float: right;
        border-radius: var(--borda);
    }

    .cima img{
        transform: translate(-50%, -90%);
    }
    
    .cima div#cima{
        display: none;
    }
    
    .cima div#baixo{
        display: block;
    }

    .cima div#baixo button{
        height: 50px;
        width: 70%;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);

        border-bottom: 2px solid transparent;
        border-radius: 20px;
        background-color: var(--verde);
        color: white;
        font-size: .9em;
    }

    .cima div#baixo button:hover{
        background-color: var(--verde-escouro);
        cursor: pointer;
    }

    #signup{
        display: none;
        right: 0;
        top: 0;
        width: 50%;
    }

    #signup button{
        width:80%;
        left: 50%;
    }

    #login-button-large{
        display: none;
    }

    #signup-button-large{
        display: block;
    }

    .log {
        height: 100%;
        width: 50%;
        float: left;
        font-family: var(--fonte);
    }

    .log form{
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-family: var(--fonte);
    }

    #login form{
        justify-content: center;
    }

    .log .for{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        align-items: center;
        transform: translateY(-40px);
        font-family: var(--fonte);
    }

    .log input{
        width: 90%;
        font-family: var(--fonte);
    }

    .log button{
        display: block;
        bottom: 40px;
        width: 40%;
        left: 23.5%;
        font-family: var(--fonte);
    }
}

@media print {
    h1{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main{
        display: none;
    }
}